---
layout: default
---

<div class="section">
    <br>
    <section class="v80">
    <br>
      <div>
        <h2 class="center-align teal-text">{{ page.title }}</h2>
      </div>
      <div class="divider"></div>
      <div class="container container-wide">

        <div class="container markdown-file">
          <div class="about">
            {% for project in site.projects %}
            <ul class="collection with-header">
              <li class="collection-header">
                <div>
                  <a class="post-link teal-text post-title" href="{{ project.url | prepend: site.github.url }}">{{ project.title }}</a>
                  <div class="right post-meta secondary-content post-date">{{ project.date | date_to_long_string }}</div>
                </div>
              </li>
              <li class="collection-item"><span class="post-description flow-text" style="font-size:15px">{{ project.description }}</span></li>
            </ul>
            {% endfor %}
          </div>
        </div>

      </div>
    </section>
</div>
